body {
  background-color: #eaeded;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-5px);
}

table tbody tr {
  margin-bottom: 5px;
}

.modal {
  position: fixed;
  top: 140px;
  left: 0;
}
